html body {
  background-color: rgb(247, 248, 250) !important;
}

#publish {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .title {
    font-size: 1.25rem;
    position: relative;
    width: 70%;
    margin: auto;
    padding: 1.25rem;
  }
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    margin: auto;
    .titlefield {
      input {
        border: 0px;
        width: 100%;
        height: 35px;
        margin: 20px 0px 20px 0px;
        padding: 0 9px;
        box-sizing: border-box;
      }
      .alert{
        &::-webkit-input-placeholder{
          color: red;
        }
      }
    }
    .tagfield {
      border-bottom: 1px solid #e6e6e6;
      select {
        margin-bottom: 1rem;
        height: 1.75rem;
        cursor: pointer;
      }
      select option {
        font-size: 1rem;
      }
    }
    .menus {
      margin-top: 10px;
      height: 40px;
      background: rgb(241, 241, 241);
      line-height: 40px;
      border-radius: 5px 5px 0 0;
      overflow: hidden;
      overflow-x: scroll;
      white-space: nowrap;
      &::-webkit-scrollbar {
        display: none;
      }
      .menu {
        display: inline-block;
        height: 40px;
        margin-left: 10px;
        .iconfont {
          font-size: 1.2rem;
          color: #999;
          cursor: pointer;
          &:hover {
            color: black;
          }
        }
        #link-editor{
          display: none;
          background-color: #e6e9ef;
          padding: 0.5rem 1rem;
          position: absolute;
          transform: translateX(-36%);
          input{
            padding: 0.5rem 0.3rem;
            display: block;
            &:not(:last-child){
              margin-bottom: 1rem;
            }
          }
          button{
            background-color: #00f3ff;
            width: 5rem;
            padding: 5px;
            border-radius: 3px;
            box-shadow: #30ced6 0 0 5px;
          }
        }
        #list-type-selector{
          display: none;
          position: absolute;
          background-color: #e6e9ef;
          transform: translateX(-36%);
          ul{
            box-shadow: #c5bebe 0 0 3px;
            li{
              cursor: pointer;
              padding: 0 1rem;
              &:not(:last-child){
                border-bottom: 1px solid #d7deea;
              }
              &:hover{
                background-color: #aabee6;
              }
            }
          }
        }
      }
    }
    #editor {
      background: white;
      padding: 0 10px;
      border-radius: 0 0 5px 5px;
      overflow-y: auto;
      flex: 1;
      outline: none;
      &:focus{
        border: 1px solid violet;
        box-shadow: violet 0 0 5px;
      }
    }
    .action {
      padding-bottom: 0.75rem;
      .submit {
        border: 1px solid #e6e6e6;
        min-width: 4.375rem;
        height: 2.1875rem;
        margin-top: 1rem;
        border-radius: 3px;
        float: left;
        background-color: rgb(248, 248, 248);
        &:hover {
          background-color: rgb(38, 126, 252);
        }
      }
      .backhome {
        border: 1px solid #e6e6e6;
        min-width: 4.375rem;
        height: 2.1875rem;
        margin-top: 1rem;
        border-radius: 3px;
        float: right;
        padding: 0 0.7rem;
        background-color: rgb(248, 248, 248);
        &:hover {
          background-color: rgb(38, 126, 252);
        }
      }
    }
  }
  .suspension {
    display: none;
  }
  .main-content {
    pre {
      background-color: #bcc5cf;
      line-height: 1rem;
      min-height: 1rem;
    }
    h2{
      color: #2bbc8a;
    }
    blockquote {
      margin-top: 1rem;
    }
    ol{
      li{
        list-style: decimal-leading-zero;
        list-style-position: inside;
      }
    }
  }
}



@media screen and (max-width: 900px) {
  #publish {
    .title {
      width: 90%;
    }
    .main {
      position: relative;
      width: 90%;
      margin: auto;
    }
  }
}
