{% extends "admin/base.html" %}
{% block title %}发表您的文章{% endblock %}
{% block css_link %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/publish.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/content.css')}}">
{% endblock %}
{% block content %}
<div id="publish">
	<div class="title">
		<p>发表新文章</p>
	</div>
	<hr style="background-color: #e6e6e6;height: 1px;border:none;">
	<div class="main">
		<div class="titlefield">
			<input type="text" placeholder="标题" id="title" value="">
		</div>
		<div class="tagfield">
			<label>选择标签：</label>
			<select id="tags">
				{% for tag in tags %}
				<option>{{tag["tag_name"]}}</option>
				{% else %}
				<option>没有可选择的标签</option>
				{% endfor %}
			</select>
		</div>
		<div class="menus">
			<div class="menu">
				<i id='h1' class="iconfont icon-h1"></i>
			</div>
			<div class="menu">
				<i id='h2' class="iconfont icon-h2"></i>
			</div>
			<div class="menu">
				<i id='table' class="iconfont icon-table"></i>
			</div>
			<div class="menu">
				<i id='quote' class="iconfont icon-quote"></i>
			</div>
			<div class="menu">
				<i id='code' class="iconfont icon-code"></i>
			</div>
			<div class="menu">
				<i id='list' class="iconfont icon-list"></i>
			</div>
			<div class="menu">
				<i id='link' class="iconfont icon-link"></i>
			</div>
			<div class="menu">
				<label id="picture" class="iconfont icon-picture" for="file-pic"></label>
				<input type="file" name="file-pic" id="file-pic" style="display: none;">
			</div>
			<div class="menu">
				<label id="video" class="iconfont icon-video" for="file-video"></label>
				<input type="file" name="file-video" id="file-video" style="display: none;">
			</div>
			<div class="menu">
				<i id='rowfront' class="iconfont icon-insert_table_row_front"></i>
			</div>
			<div class="menu">
				<i id='rowbehind' class="iconfont icon-insert_table_row_behind"></i>
			</div>
			<div class="menu">
				<i id='colfront' class="iconfont icon-insert_table_col_front"></i>
			</div>
			<div class="menu">
				<i id='colbehind' class="iconfont icon-insert_table_col_behind"></i>
			</div>
			<div class="menu">
				<i id='removerow' class="iconfont icon-remove_table_row"></i>
			</div>
			<div class="menu">
				<i id='removecol' class="iconfont icon-remove_table_col"></i>
			</div>
			<div class="menu">
				<i id='justifyleft' class="iconfont icon-justify_left"></i>
			</div>
			<div class="menu">
				<i id='justifycenter' class="iconfont icon-justify_center"></i>
			</div>
			<div class="menu">
				<i id='draft' class="iconfont icon-draft"></i>
			</div>
			<div class="menu">
				<i id='cutline' class="iconfont icon-cutline"></i>
			</div>
			<div class="menu code_status">
				<i id='codeing' class="iconfont icon-code"></i>
			</div>
		</div>
		<div id="linkedit" data-show='false' class="suspended" style="display: none">
			<div class="desc">插入链接</div>
			<textarea id="linkhref" class="linkarea" placeholder="please enter href"></textarea>
			<textarea class="linkarea" id="linkname" placeholder="name of href"></textarea>
			<button id="insertL">插入</button>
		</div>
		<div id="editor" contenteditable="true" data-id="" class="main-content">
			{% if article_detail is defined %}
			{{ article_detail.article_content | safe }}
			{% endif %}
		</div>
		<div class="action">
			<input type="button" id="submit" value="发表" class="submit"/>
			<a href="/"><input type="button" value="返回主页" class="backhome"/></a>
		</div>
	</div>
	<div class="suspension">
		<div class="myloading_1"></div>
		<div class="uploading_wrapper">
			<span>文件上传中...</span><span class="percent"></span>
			<div class="uploading"></div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript_link %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/publish.bundle.js')}}"></script>
{% endblock %}

