{% extends "admin/base.html" %}
{% block title %}管理您的博客{% endblock %}
{% block css_link %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/manage.css')}}">
{% endblock %}
{% block content %}
<div id="manage">
	<div id="artilces-manage">
		<div class="post-list">
			<table>
				<tr>
					<th style="width: 52%">标题</th>
					<th style="width: 16%">分类</th>
					<th style="width: 16%">时间</th>
					<th style="width: 5rem">操作</th>
				</tr>
			</table>
		</div>
		<div id="page-selector" data-article-total="{{article_total}}" data-draft-total="{{draft_total}}">
			<div id="previous-page"><i class="iconfont icon-previous"></i></div>
			<div id="pagination"></div>
			<div id="next-page"><i class="iconfont icon-next"></i></div>
		</div>
	</div>
	<div id="tags-manage" class="vhcenter">
		<div>
			<select id="tag_list">
				{% for tag in tags %}
				<option data-total={{tag["quantity"]}}>{{tag["tag_name"]}}</option>
				{% else %}
				<option calss="empty-tags">没有任何标签</option>
				{% endfor %}
			</select>
			<input type="button" value="新增" style="width: 72px;height: 30px;cursor: pointer;margin-left: 10px;" id="add-tag">
		</div>
		<div id="add-new-tag" style="display:none;">
			<input type="text" placeholder="请输入新增的标签名" style="flex: 1;" id="new-tag">
			<input type="button" value="确认" style="width: 72px;height: 30px;cursor: pointer;margin-left: 10px;" id="new-tag-submit">
		</div>
		<div>
			<span>当前选中的标签是：</span><span id="lable">
			{% if tags %}
				{{tags[0].tag_name}}
			{% else %}
				没有任何标签
			{% endif %}
			</span>
			<input type="button" value="删除" style="width: 72px;height: 30px;cursor: pointer;margin-left: 20px;" id="del_tag">
		</div>
	</div>
	<div id="mood-manage" class="vhcenter">
		<div>
			<input type="text" placeholder="写下你此刻的心情" style="flex: 1;" id="mood-text">
			<input type="button" value="确认" style="width: 72px;height: 36px;cursor: pointer;margin-left: 10px;" id="mood-submit">
		</div>
	</div>
	<div id="suspende-menu">
		<button><i class="iconfont icon-navlist"></i>菜单</button>
		<ul id="menus">
			<a href="/adminpublish"><li id="write">写文章</li></a>
			<li id="articles">博客列表</li>
			<li id="tags">标签管理</li>
			<li id="mood">心情</li>
			<li id="drafts">草稿</li>
			<li id="home">返回主页</li>
		</ul>
	</div>
</div>
<script>
	document.getElementById('suspende-menu').getElementsByTagName('button')[0].onclick=function (){
		let overflow=document.getElementById('suspende-menu').style.overflow
		document.getElementById('suspende-menu').style.overflow=overflow=='visible'?'hidden':'visible'
	}
</script>
{% endblock %}
{% block javascript_link %}
<script type="text/javascript" src="{{url_for('static',filename='js/manage.js')}}"></script>
{% endblock %}
