a:link {color: inherit;} 
a:visited {color: inherit;} 
a:hover {color: inherit;} 
a:active {color: inherit;} 
.post p {
	color: #2bbc8a;
	font-size: 0.9em;
	font-weight: 700;
	margin-top: 14px;
	margin-bottom: 8px;
	letter-spacing:0.1em;
}


