html {
	height: 100%;
	font-size: 16px;
}
@font-face{
	font-family: "Meslo LG";
	font-style: normal;
	src:url('../font/MesloLGS-Regular.woff') format('woff');
}
body {
	font-family: Meslo LG,Helvetica, Arial, sans-serif, 微软雅黑;
	background-color: #1d1f21;
	color: #c9cacc;
	text-rendering: geometricPrecision;
	min-height: 100%;
	font-size: 14px;
	line-height: 1.725;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1;
}
.ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}
a {
	text-decoration: none;
	-webkit-tap-highlight-color:transparent;
}

li {
	list-style: none;
}

* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}


.width {
	width: 100%;
	max-width: 44rem;
}

.mx-auto {
	margin-right: auto;
	margin-left: auto;
}
.px3 {
	padding-left: 2rem;
	padding-right:2rem;
}
.my4 {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

@media screen and (max-width: 480px) {
	.px3 {
		padding-left: 1.4rem;
		padding-right:1.4rem;
	}
	.my4 {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

}

a:link {color: inherit;} 
a:visited {color: inherit;} 
a:hover {color: inherit;}  
a:active{color: #2bbc8a;}

@media screen and (min-width: 1024px) {
	a:hover{
		color: #2bbc8a;
	}
	a:active{
		color: inherit;
	}
}