#comment_area{
	display: none;
	font-size: 16px;
}

#comment{
	background-color: #2a2c2f;
	margin-top:2rem;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 10px;
}
#comment *{
	transition: all 0.3s ease;
}

.commentor{
	display: flex;
}
.commentor input{
	border:none;
	background-color: transparent;
	/*outline设置input获取焦点时淡蓝色的编辑外框线*/
	outline: none;
	color: #c9cacc;
	flex: 1;
	padding: 10px 5px;
	border-bottom: 1px #dedede double;
	font-size: 0.775em;
}
.commentor input:focus{
	border-bottom: 1px #FF5722 double;
}
.comment_editor{
	padding-top: 10px;

}
.commentext{
	border:none;
	width: 100%;
	outline: none;
	background-color: transparent;
	color: #c9cacc;
	padding: 10px 5px;
	min-height: 8.75rem;
	resize: vertical;
	font-size: 0.875em;
}

.function{
	text-align: right;
	user-select: none;
}

.emoji{
	padding: 10px;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;	
	font-size:12px;
}

.preview{
	padding: 10px;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	font-size:12px;
}
.emoji_content{
	max-height: 145px;
	font-size: 18px;
	overflow: auto;
	margin-bottom: 10px;
	border: 1px #c9cacc solid;
	padding-left: 15px;
}
.emoji_content i{
	padding:7px 0;
	display: inline-block;
	font-style: normal;
	width: 38px;
	cursor: pointer;

}
.control{
	padding-top: 15px;
}
.markdown{
	font-size: 16px;
}
.col{
	display: inline-block;
}
.col-20{
	width: 20%;
}
.col-20 a{
	background-image: linear-gradient(transparent,transparent 5px,#c9cacc 5px,#c9cacc);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% 6.5px;
	position: relative;
	display: inline-block;
}
.col-20 a:before{
	content: "";
	position:absolute;
	width: 0;
	right: 0;
	bottom: 0;
	height: 1.5px;
	background: #1abc9c;
	transition: width 0.3s ease;

}
.col-20 a:hover:before{
	animation: Amarkdown 0.3s ease;
	width: 100%;
}

.col-80{
	text-align: right;
	width: 80%;
}

.comment_btn{
	text-align: center;
	color: #313131;
	border: 1px #ededed solid;
	border-radius: 0.3em;
	display: inline-block;
	background-color: #ededed;
	padding: .5em 1.25em;
	cursor: pointer;
}

.comment_btn:hover{
	border: 1px #87CEFA solid;
	color: #87CEFA;
}


.comment_data{
	padding: 1.25em 0;
	color: #999;

}
.comment_empty{
	padding: 1.25em 0;
	color: #999;
	text-align: center;
}
.wrapper .main{
	overflow: hidden;
}
.wrapper,.inline{
	padding-top: 1.5em;
}


.comment_data .time{
	font-size: 0.75em;
	margin-right: 0.875em;
}

.comment_data .reply{
	font-size: 0.8125em;
	color: #1abc9c;
	cursor: pointer;
	float: right;
}

.comment_data .delete{
	font-size: 0.8125em;
	color: #1abc9c;
	cursor: pointer;
	float: right;
	margin-right: 10px;
}
.nick{
	font-size: 0.875em;
	color: #1abc9c;
	margin-right: 0.875em;
	transition: all 0.5s linear;
}
.sysinfo{
	font-size: 0.75em;
	padding:0.2em 0.5em;
	margin-right: 0.3em;
}



.inline .avatar{
	width: 2.225em;
	height: 2.225em;
}
.avatar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px #c9cacc solid;
	margin-right: 10px;
	float: left;

}

.message{
	margin-bottom: 0.75em;
	padding-top: 0.625em;
}
.message p{
	margin:0.5em 0;
}

.ater{
	cursor: pointer;
}
.ater:hover{
	color: white;
}

@keyframes Amarkdown{
	from{
		left: 0;
		width: 0;
	}
	to{
		left: 0;
		width: 100%;
	}
}


@media screen and (max-width: 600px) {
	.commentor {
		display: block;
	}
	.commentor input {
		width: 100%;
	}
	.sysinfo{
		display: none;
	}
}