#header-post {
	position: fixed;
	top: 2rem;
	right: 2rem;
	color: #2bbc8a;
}


#nav li {
	display: inline-block;
	border-right: 1px dotted #2bbc8a;
	line-height: 15px;

}
#nav li:last-child {
	border-right: none;
}
#nav li a {
	margin-right: 10px;
	margin-left: 10px;
}
#nav li:last-child a{
	margin-right: 0;
	margin-left: 10px;
}

#nav {
	float: right;
	font-size: .8rem
}


#action {
	margin-top: 4rem;
	color: #c9cacc;
	text-align: right;
	user-select: none;
}
#action ul li{
	display: inline-block;
	margin-right: 16px;

}
#action ul li:last-child{
	margin-right: 0px;
}


/*从第五个元素开始选取*/
#action li:nth-child(n+5):hover {
	color: #2bbc8a;
	cursor: pointer;
}

#toc {
	text-align: right;
	padding-top: 2rem;
	font-size: 0.8rem;
}

#lableOfContent li {
	color: #c9cacc;
}
#lableOfContent li a:hover {
	color: #2bbc8a;
}

#lableOfContent li:before {
	content: "#";
	color:#2bbc8a;
}

.top-title{
	font-size: 0.9rem;
}
.sec-title{
	font-size: 0.8rem;
}


.my3 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}


.post h1 {
	color: #2bbc8a;
	font-size: 1.5em;
}


img {
	width: 100%;
	display: block;
}

a:link {color: inherit;} 
a:visited {color: inherit;} 
a:hover {color: inherit;} 
a:active {color: inherit;} 


@media screen and (max-width: 1120px) {
	#nav {
		display: none;
	}
	#action {
		margin-top: 0px;
	}
}
@media screen and (max-width: 900px) {
	#header-post {
		display: none;
	}
}
@media screen and (min-width: 480px) {
	.detail p {
		text-align: justify;
	}
}
