.meta {
	color: #666;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 1rem;
}

.post-item {
	margin-bottom: 1rem;
}
.post-item a {
	border-bottom: 1px solid #c9cacc;
}

@media screen and (min-width: 480px) {
	.post-item{
		display: flex;
		margin-bottom: 5px;
	}
}