.meta {
	font-size: 0.85rem;
}
.postdate,.watch,.lable {
	display: inline-block;
}

.meta span {
	padding-left:8px;
	font-size: 0.85rem;
}

.meta a:hover {
	color: #2bbc8a;
}
.watch:before {
	content: "|";
	padding:0 5px;
}
.lable:before {
	content: "|";
	padding:0 5px;
}