#error404 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#error404 .post p {
  color: #2bbc8a;
  font-size: 0.9em;
  font-weight: 700;
  margin-top: 14px;
  margin-bottom: 8px;
  letter-spacing: 0.1em;
}
