<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/normalize.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/root.css')}}">
	<link rel="icon" type="image/x-icon" href="{{url_for('static',filename='img/wone.ico')}}">
	<script type="text/javascript" src="https://unpkg.com/loglevel/dist/loglevel.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
	<script>
		(function (arr) {
			arr.forEach(function (item) {
				if (item.hasOwnProperty('append')) {
					return;
				}
				Object.defineProperty(item, 'append', {
					configurable: true,
					enumerable: true,
					writable: true,
					value: function append() {
						var argArr = Array.prototype.slice.call(arguments),
								docFrag = document.createDocumentFragment();

						argArr.forEach(function (argItem) {
							var isNode = argItem instanceof Node;
							docFrag.appendChild(isNode ? argItem : document.createTextNode(String(argItem)));
						});

						this.appendChild(docFrag);
					}
				});
			});
		})([Element.prototype, Document.prototype, DocumentFragment.prototype]);
	</script>
	<style>
		html body{
			background-color: white;
			color: black;
		}
		p{
			margin: 0;
			padding: 0;
		}
		hr{
			margin: 0;
			padding: 0;
		}
	</style>
    {% block css_link %}{% endblock %}
	{% block js_link %}{% endblock %}
</head>
<body>
	{% block content %}{% endblock %}
	{% block javascript_link %}{% endblock %}
</body>
</html>
