<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0, user-scalable=no">
	<title>管理您的博客</title>
	<link rel="stylesheet" type="text/css" href="../static/css/manage.css">
	<link rel="stylesheet" type="text/css" href="../static/font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../static/css/loading.css">
    <link rel="icon" type="image/x-icon" href="../static/img/wone.ico">
</head>
<body>
	<div class="wrapper">
		<ul>
			<li style="width: 52%">标题</li>
			<li style="width: 16%">分类</li>
			<li style="width: 16%">时间</li>
			<li style="width: 16%">操作</li>
		</ul>
		<main></main>
	</div>
	<div id="page" total="{{article_num}}">
		<div id="previous_page"><i class="iconfont icon-previous"></i></div>
		<div id="next_page"><i class="iconfont icon-next"></i></div>
	</div>
	<div id="write">
		<span class="iconfont icon-write"></span><span>写文章</span>
	</div>
    <div class="myloading_1"></div>
	<script type="text/javascript" src="../static/js/myajax.js"></script>
	<script type="text/javascript" src="../static/js/manage.js"></script>
	<script type="text/javascript" src="../static/js/suspended/suspendedbtn.js"></script>
</body>
</html>