<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>{{title}} | 我的编程随笔</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/base/dist/normalize.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/autoprefixer/root.css')}}">
	<script type="text/javascript" src="{{url_for('static',filename='js/thirdpart/browser.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/thirdpart/loglevel.min.js')}}"></script>
    {% block css_link %}{% endblock %}
	{% block js_link %}{% endblock %}
	<link rel="icon" type="image/x-icon" href="../static/img/wone.ico">
</head>
<body>
	<div class="flex-content max-width44 mx-auto px2 my2">{% block content %}{% endblock %}</div>
	{% block javascript_link %}{% endblock %}
</body>
</html>
