<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" itemprop="description" content="编程随笔,一个编程技术博客.想到哪,学到哪,写到哪.">
	<meta name="author" content="Wone">
	<meta name="keywords" content="Wone, 编程随笔, programming note, web前端博客, Python, Javascript, Java, 汇编语言, 网页制作, 前端, html5, css, Vue.js, 云服务器, Seo">
	<meta property="og:title" content="Wone">
	<meta property="og:description" content="编程随笔,一个编程技术博客.想到哪,学到哪,写到哪.">
	<meta property="og:site_name" content="Wone">
	<title>Wone | 我的编程随笔</title>
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/font/iconfont.css">
	<link rel="stylesheet" type="text/css" href="../static/css/header.css">
	<link rel="stylesheet" type="text/css" href="../static/css/footer.css">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<link rel="stylesheet" type="text/css" href="../static/css/postlist.css">
	<link rel="icon" type="image/x-icon" href="../static/img/wone.ico">
</head>
<body>
	<div class="content index width mx-auto px3 my4">
		<header id="header">
			<a href="/">
				<div id="logo" style="background-image: url(../static/img/avatar.jpg);"></div>
				<span style="font-size: 1.5rem;font-weight: bold;line-height: 2rem;display: inline-block;" id="title">Wone</span>
			</a>
			<div id="nav">
				<ul>
					<li class="navicon">
						<i class="iconfont icon-navlist i-2x"></i>
					</li>	
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/archives">Archives</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/search">Search</a>
					</li>	
				</ul>
			</div>
		</header>
		<section id="wrapper" class="home">
			<section id="about">
				<div class="description">
					<span class="prompt">禁止套娃!!!😆😆😆😆😆😆😆😆😆</span>
					<p class="who">——Sunday,March 8</p>
				</div>
				<p><i class="iconfont icon-read"></i><span class="watch">{{visited}}</span><span>|</span><span class="Find">Find me on</span><a href="https://github.com/" id="github"><i class="iconfont icon-github"></i></a></p>
			</section>
			<section id="writing">
				<span class="h1">
					<a href="/archives">Archives</a>
				</span>
				<i class="iconfont icon-recently recently" tips="最新发表" recently="false"></i>
				<ul class="post-list">
					{% for item in articles %}
					<li class="post-item">
						<div class="meta">
							<time>{{item['article_time']}}</time>
						</div>
						<span class="ellipsis"><a href="/articledetails?id={{item['post_key']}}">{{item['article_title']}}</a></span>
					</li>
					{% endfor %}
				</ul>
			</section>
			<section id="projects">
				<span class="h1"><a href="http://project.haiblog.cn" target="_blank">Projects</a></span><i class="iconfont icon-tap tap" tips="project_demo"></i>
				<ul class="project-list">
					{% for item in projects %}
					<li class="project-item">
						<div class="meta">
							<time>{{item["project_time"]}}</time>
						</div>
						<a href="http://project.haiblog.cn{{item['project_url']}}">{{item["project_title"]}}</a>
					</li>
					{% endfor %}
					<!-- <li class="project-item">
						<a href="https://github.com/weidehai/myblog_dev/tree/myblog_hl_dev">个人博客代码高亮js插件</a>
					</li>
					<li class="project-item">
						<a href="https://github.com/weidehai/myblog_dev/tree/master">Flask框架搭建个人博客</a>
						: 使用css3+html5+原生js+flask写的博客
					</li> -->
					
				</ul>
			</section>
		</section>
	</div>
	<footer id="footer">
		<div class="footer-left">Copyright © 2020 Wone <a href="http://www.beian.miit.gov.cn" target="_blank">琼ICP备19001364号</a></div>
		<div class="footer-right">
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/archives">Archives</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/search">Search</a>
					</li>
				</ul>
			</nav>
		</div>
	</footer>
	<div id='wk'></div>
	<script type="text/javascript" src="../static/js/index.js"></script>
	<script type="text/javascript" src="../static/js/myajax.js"></script>
</body>
</html>
