<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="description" itemprop="description" content="编程随笔,一个编程技术博客.想到哪,学到哪,写到哪.">
	<meta name="author" content="Wone">
	<meta name="keywords" content="Wone, 编程随笔, programming note, web前端博客, Python, Javascript, Java, 汇编语言, 网页制作, 前端, html5, css, Vue.js, 云服务器, Seo">
	<meta property="og:title" content="Wone">
	<meta property="og:description" content="编程随笔,一个编程技术博客.想到哪,学到哪,写到哪.">
	<meta property="og:site_name" content="Wone">
	<title>Wone | 我的编程随笔</title>
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/font/iconfont.css">
	<link rel="stylesheet" type="text/css" href="../static/css/header.css">
	<link rel="stylesheet" type="text/css" href="../static/css/footer.css">
	<link rel="stylesheet" type="text/css" href="../static/css/search.css">
	<link rel="stylesheet" type="text/css" href="../static/css/postlist.css">
	<link rel="stylesheet" type="text/css" href="../static/css/content.css">
	<link rel="icon" type="image/x-icon" href="../static/img/wone.ico">
	<script type="text/javascript" src="../static/js/vue.js"></script>
</head>
<body>
	<div class="content index width mx-auto px3 my4">
		<header id="header">
			<a href="/">
				<div id="logo" style="background-image: url(../static/img/avatar.jpg);"></div>
				<span style="font-size: 1.5rem;font-weight: bold;line-height: 2rem;display: inline-block;" id="title">Search</span>
			</a>
			<div id="nav">
				<ul>
					<li class="navicon">
						<i class="iconfont icon-navlist i-2x"></i>
					</li>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/archives">Archives</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/search">Search</a>
					</li>	
				</ul>
			</div>
		</header>
		<div id="app">
			<div id="search">
				<input v-model="keywords" type="text" name="find" class="find" placeholder="请输入您要搜索的关键字">
			</div>
			<input type="button" @click="dosearch" class="dosearch" value="搜索">
			<sslot :getres="res"></sslot>
		</div>
		<template id="sview">
			<div id="sview_wrapper">
				<div class="resitem" v-for='item in getres["data"]'>
					<a class="title" v-bind:href="'/articledetails?id=' + item['post_key']" target="_blank">${item['article_title']}</a>
					<div class="meta">
                    	<div class="postdate">
                        	<time>${item['article_time']}</time>
                    	</div>
	                    <div class="watch">
	                        <i class="iconfont icon-glance"><span>${item['article_read']}</span></i>
	                    </div>
	                    <div class="lable">
	                        <i class="iconfont icon-lable"><a href="'/archives?tag=' + item['article_tag']"><span>${item['article_tag']}</span></a></i>
	                    </div>
                	</div>
					<section v-html="item['text_for_search']" class="preview"></section>	
				</div>
			</div>
		</template>
	</div>
	<footer id="footer">
		<div class="footer-left">Copyright © 2020 Wone <a href="http://www.beian.miit.gov.cn" target="_blank">琼ICP备19001364号</a></div>
		<div class="footer-right">
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/archives">Archives</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/search">Search</a>
					</li>
				</ul>
			</nav>
		</div>
	</footer>
	<script type="text/javascript">
		window.onload = function () {
			var i = document.getElementsByClassName('navicon')[0].getElementsByTagName('i')
			i[0].addEventListener('click',function() {
				var nav = document.getElementById('nav')
				var ul = document.getElementsByTagName('ul')
				if (ul[0].getAttribute('class')) {
					ul[0].setAttribute('class','')
				}else {
					ul[0].setAttribute('class','responsive')
				}
			})
		}
		var vm = new Vue({
			el:"#app",
			data:{
				keywords:"",
				res:"",
				offset:0
			},
			methods:{
				dosearch:function(){
					let xhr = XMLHttpRequest?new XMLHttpRequest():new ActiveXobject("Microsoft.XMLHTTP")
					var surl = '/search'
					xhr.open('post',surl,true);
					var data = {
						"kw":this.keywords,
						"offset":this.offset
					}
					data = JSON.stringify(data)
					xhr.send(data)
					xhr.onreadystatechange=function(){
						if (xhr.readyState==4) {
							var str = xhr.responseText
							var obj = eval('(' + str + ')')
							this.res = obj
						}
					}.bind(this)
				}
			},
			mounted:function(){
				var s = document.getElementById('search')
				var i = document.getElementsByClassName('find')
				i[0].onfocus = function(){
					s.style.borderBottom='1px solid #FF5722'
				}
				i[0].onblur=function(){
					s.style.borderBottom='1px solid #dedede'
				}
			},
			components:{
				sslot:{
					template:"#sview",
					data:function(){
						return {
							dynamicsdata:null,
						}
					},
					props:['getres'],
					watch:{
						getres(val){
							this.dynamicsdata = val
						}
					},
					methods:{
						
					},
					delimiters:["${","}"]
				}
			},
			delimiters:["${","}"]
		})
		

	</script>
</body>
</html>
