{% extends 'base.html' %}
{% block css_link %}
<link rel="stylesheet" type="text/css" href="../static/css/archives.css">
<link rel="stylesheet" type="text/css" href="../static/css/postlist.css">
{% endblock %}


{% block content %}
{% include "./components/header/header.html" ignore missing %}
<div id="archives">
	<div id="theme-tag">
		{% for tag in tags %}
		<a href='/archives?article_tag="{{tag["tag_name"]}}"'><span>{{tag["tag_name"]}}</span></a>
		{% endfor %}
	</div>
</div>
{% include './components/footer/footer.html' ignore missing %}
{% endblock %}

/*
<body>
	<div class="content index width mx-auto px3 my4">


		<section id="wrapper">
			<!-- {% for data in articles %}
			<div class="archive">
				<h3>{{data['year']}}</h3>
				<ul class="post-list">
					{% for item in data['articles'] %}
					<li class="post-item">
						<div class="meta">
							<time>{{item['article_time']}}</time>
						</div>
						<span><a href="/articledetails?id={{item['post_key']}}">{{item['article_title']}}</a></span>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endfor %} -->
		</section>

	</div>
	<footer id="footer">
		<div class="footer-left">Copyright © 2020 Wone <a href="http://www.beian.miit.gov.cn" target="_blank">琼ICP备19001364号</a></div>
		<div class="footer-right">
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/archives">Archives</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/search">Search</a>
					</li>
				</ul>
			</nav>
		</div>
	</footer>
	<script type="text/javascript" src="../static/js/flush/laflush.js"></script>
	<script type="text/javascript">
		let cache_where = sessionStorage.getItem("archives_where")
		let offset = 0
		let year = 2020
		let where = window.location.search.substr(1) || "all" 
		let data_sort = []
		let archives_done = 0
		sessionStorage.setItem("archives_where",where)
		window.onpagehide = function(){
			var scroll_top = document.documentElement.scrollTop
			sessionStorage.setItem("archives_scroll_top",scroll_top)
		}

		window.onload = function () {
			eventListen()
			let archives = JSON.parse(sessionStorage.getItem("archives"))
			console.log(JSON.parse(sessionStorage.getItem("archives")))
			if(archives && cache_where==where){
				offset = parseInt(sessionStorage.getItem("archives_offset")) || 0
				archives_done = parseInt(sessionStorage.getItem("archives_done")) || 0
				years = Object.keys(archives)
				if(years.length>0){
					for(let year_key of years){
						year = parseInt(year_key)
						//console.log(archives[year_key])
						//入栈
						data_sort.push(archives[year_key])
						data_sort.push(year)
					}
					while(data_sort.length>0){
						//出栈
						year = data_sort.pop()
						render(data_sort.pop())
					}
				}
				let scroll_top = sessionStorage.getItem("archives_scroll_top") || 0
				document.documentElement.scrollTop = scroll_top
				window.scrollTo(scroll_top,0)
				window.scrollTop = scroll_top
				year = parseInt(sessionStorage.getItem("archives_year"))
			}else{
				sessionStorage.clear()
				sessionStorage.setItem("archives_where",where)
				getData("articles","article_time, article_title, post_key",where,render)
			}
			laflush.eventlistener()
			laflush.flush = function(){
				getData("articles","article_time, article_title, post_key",where,render)
			}
		}
		function getData(table,fields,where,cb){
			if (year<2019 || archives_done) {
				//laflush.removelistener()
				sessionStorage.setItem("archives_done",1)
				return
			}
			let loading_wrapper = document.getElementsByClassName("loading_wrapper")[0]
			let xhr = new XMLHttpRequest()
			let myurl = `/getdatabyyear?table=${table}&fields=${fields}&year=${year}&where=${where}&offset=${offset}`
			loading_wrapper.style.display = "block"
			xhr.open("get",myurl,true)
			xhr.onreadystatechange=function(){
				if (xhr.readyState===4) {
					var str = xhr.responseText
					var obj = eval('(' + str + ')')
					loading_wrapper.style.display = 'none'
					offset = offset + 10
					if (obj.length !== 0) {
						//{"archive":{2020:[],2019:[]}}
						let archives = sessionStorage.getItem("archives")
						let data={}
						console.log("set cache")
						if(archives){
							if(year in JSON.parse(archives)){
								console.log("innnnnnnnn")
								data = JSON.parse(archives)
								data[year] = data[year].concat(obj)
								console.log(data)
								sessionStorage.setItem("archives",JSON.stringify(data))
							}else{
								data = JSON.parse(archives)
								data[year] = obj
								sessionStorage.setItem("archives",JSON.stringify(data))
							}
						}else{
							data[year] = obj
							console.log(data)
							sessionStorage.setItem("archives",JSON.stringify(data))
							//console.log(sessionStorage.getItem("archives"))
						}
						cb(obj)
					}
					
					if (obj.length<10) {
						year = year - 1
						offset = 0
					}
					console.log(offset,year)
					sessionStorage.setItem("archives_offset",offset)
					sessionStorage.setItem("archives_year",year)
					if (document.documentElement.scrollHeight<=document.documentElement.clientHeight) {
						getData("articles","article_time, article_title, post_key",where,render)
					}
				}
			}
			xhr.send()
		}
		
		function render(result){
			let wrapper = document.getElementById("wrapper")
			let archive = document.getElementById(year)
			console.log(year,archive)
			if (!archive) {
				archive = document.createElement('div')
				archive.className = 'archive'
				archive.id = year
				let ul = document.createElement('ul')
				ul.className = 'post-list'
				let h3 = document.createElement('h3')
				h3.innerText = year
				archive.appendChild(h3)
				archive.appendChild(ul)
				wrapper.appendChild(archive)
			}
			let post_list = archive.getElementsByClassName("post-list")[0]
			for (let item of result){
				let li = document.createElement('li')
				li.className='post-item'
				let div = document.createElement('div')
				let time = document.createElement('time')
				div.className='meta'
				time.innerText = item['article_time']
				div.appendChild(time)
				let span = document.createElement('span')
				let a = document.createElement('a')
				span.className = 'ellipsis'
				a.href = `/articledetails?id=${item['post_key']}`
				a.innerText = item['article_title']
				span.appendChild(a)
				li.appendChild(div)
				li.appendChild(span)
				post_list.appendChild(li)
			}
			laflush.content_height=document.documentElement.scrollHeight
			laflush.ready_to_flush = true

		}

		function eventListen(){
			//var theme_tag = document.getElementById('theme-tag')
			// var a = theme_tag.getElementsByTagName('a')
			// var sizebox = ['12px','16px','22px']
			// for (i=0;i<a.length;i++) {
			// 	var index = Math.floor(Math.random()*3)
			// 	var fontsize = sizebox[index]
			// 	a[i].style.fontSize = fontsize
			// }
			// //事件委托
			// theme_tag.addEventListener('click',function(e){
			// 	getData("articles","article_time, article_title, post_key",`article_tag="${e.target.innerText}"`,render)
			// })
			var i = document.getElementsByClassName('navicon')[0].getElementsByTagName('i')
			i[0].addEventListener('click',function() {
				var nav = document.getElementById('nav')
				var ul = document.getElementsByTagName('ul')
				if (ul[0].getAttribute('class')) {
					ul[0].setAttribute('class','')
				}else {
					ul[0].setAttribute('class','responsive')
				}
			})
		}
	</script>
</body>
</html>*/