{% extends 'base.html' %}
{% block css_link %}
<link rel="stylesheet" type="text/css" href="../static/css/archives.css">
{% endblock %}


{% block content %}
{% include "./components/header/header.html" ignore missing %}
<div id="archives">
	<div id="theme-tag">
		{% for tag in tags %}
		<a tag='{{tag["tag_name"]}}'>{{tag["tag_name"]}}</a>
		{% endfor %}
	</div>
	<section id="post-list">
		<div id="archive"></div>
	</section>
</div>
{% include './components/footer/footer.html' ignore missing %}
{% endblock %}
{% block javascript_link %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/lodash.js/4.17.21/lodash.core.js"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/archives.bundle.js')}}"></script>
{% endblock %}

